name: Build And Test

on:
  push: {}
env:
  ECR_AWS_ACCESS_KEY_ID: ${{ secrets.TRUSS_AWS_ACCESS_KEY_ID }}
  ECR_AWS_SECRET_ACCESS_KEY: ${{ secrets.TRUSS_AWS_SECRET_ACCESS_KEY }}
  ECR_AWS_DEFAULT_REGION: us-east-2

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # general setup
      - name: Checkout
        uses: actions/checkout@v2
      - name: Checkout Bridge Actions
        uses: actions/checkout@v2
        with:
          repository: get-bridge/actions
          token: ${{ secrets.GIT_HUB_TOKEN }}
          path: .github/actions
      - name: ECR Auth
        uses: ./.github/actions/ecr-auth
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.13

      # build image
      - name: Docker Build
        run: |
          docker build \
              --tag $ECR_REGISTRY/muss:$GITHUB_SHA \
              --tag $ECR_REGISTRY/muss:latest \
              .
      
      # build and test golang
      - name: Unshallow
        run: git fetch --prune --unshallow
      - name: GoReleaser Build
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: build --snapshot
      - name: Test
        run: make test

      # push image
      - name: Docker Push
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          docker push $ECR_REGISTRY/muss:$GITHUB_SHA
          docker push $ECR_REGISTRY/muss:latest
